#header{
    background-color: #fff;
}

.header__container{
    width: 100%;
    padding: 45px 40px;
    display: flex;
    align-items: center;
}

.header-left-side{
    display: inline-flex;
    align-items: center;
}

.menu__button{
    display: inline-flex;
    border: none;
    background: none;
    width: 30px;
    margin-right: 10px;
}

.search-form{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.search-form-tile{
    margin-right: 15px;
    margin-bottom: -4px;
    font-size: 18px;
}

.search-icon{
    border: none;
    margin-left: 5px;
    background-color: transparent;
}

.search-form input{
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.search-form input:focus{
    outline: none;
    border-radius: 1px solid #000;
}

.header-right-side{
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-right-side a{
    text-decoration: none;
    color: var(--text-color);
    margin: 0 15px;
}