/* HEADER */

#header{
    
}

.header__wrapper{
    padding: 25px 70px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__logo{
    display: flex;
    align-items: center;
    width: 323px;
    margin: 8.5px 0 ;
    z-index: 1000;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__list{
    list-style: none;
    width: 417.4px;
    cursor: pointer;
}

.header__list a{
    padding: 13.5px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

.header__list span{
    position: relative;
}

.header__list span::after{
    content: "";
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: .3s;
}

.header__list a:hover span::after{
    width: 100%;
}

.header__checkout{
    cursor: pointer;
    z-index: 1000;
}

.header__checkout i{
    padding: 13.5px;
    display: inline-block;
    color: #fff;
}


/* SLIDER */

#slider{
    margin-top: -130px;
}

#slider {
    background-image: url(/Coffee_web_project/img/Slider_picture.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 753px;
    width: 100%;
}


#content{

}

#footer{

}
