*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Helvetica neue', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    scroll-behavior: smooth;
    transition: all 1s ease;
}

:root{
    --text-color: #000;
    --subject-color: #B28242;
    --item-width: 327.16px;
    --item-height: 490.43px;
}

.third-col{
    width: calc(100%/3);
    max-width: 464.25px;
    padding: 0 15px;
}