#footer{
    
}

/* Footer header start */
.footer-heading{
    width: 100%;
}

.top-box{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes{
    width: calc(100%/4);
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 15px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.boxes:not(:last-child){
    margin-right: 1px;
}

.boxes-icon{
    margin-bottom: 12px;
}

.boxes-desc{
    margin-bottom: 4px;
}

.boxes a{
    text-decoration: none;
    color: #fff;
}
/* Footer header end */

/* Footer body start */
.footer-body{
    padding: 105px 0 85px;
}

.footer-body-container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.contact-row{
    display: flex;
    justify-content: space-around;
}

.contact-col{
    width: calc(100%/4);
    padding: 0 15px;
    text-align: center;
}

.contact-col:not(:last-child){
    align-self: flex-start;
}

.contact-col:last-child{
    align-self: center;
}

.contact-title{
    font-size: 17px;
    font-weight: 500;
    line-height: 1.428;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contact-list{
    list-style: none;
}

.contact-list a{
    font-size: 15px;
    text-decoration: none;
    line-height: 1.75;
    color: #666;
    transition: all .3s ease;
}

.contact-list a:hover{
    color: var(--subject-color);
}

.download-block{
    display: flex;
    align-items: center;
    align-self: center;
}

.download-link img{
    height: 45px;
}

.download-qrcode img{
    width: 102px;
}
/* Footer body end */

/* Footer bottom start */
.footer-bottom{
    padding: 60px 0;
}


.footer-bottom-container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.social-link{
    text-align: center;
}

.social-link li{
    display: inline-block;
}

.social-link li:not(:last-child){
    margin-right: 50px;
}

.social-link a{
    color: var(--text-color);
    text-decoration: none;
    margin: 15px 0;
    font-size: 15px;
}

.social-link a:hover{
    text-decoration: underline;
}

.social-link li i{
    margin-right: 2px;
}

.copyright{
    text-align: center;
    margin-top: 15px;
    color: #666;
    font-size: 16px;
    
}

.copyright address{
    font-style: normal;
    font-weight: 400;
}

.bct-register{
    text-align: center;
    margin-top: 15px;
}

.bct-register a{
    display: block;
    height: 55px;
}

.bct-register img{
    height: 55px;
}
/* Footer bottom end */